<!-- This content has been taken from https://github.com/grayleonard/mastodon-share -->
<div id="mastobutton">
    <div class="mast-share mast-share-lg">
        <input type="checkbox" class="mast-check-toggle" id="mast-check-toggle-0">
        <div class="mast-instance"><button>Instancia:</button> </span><input type="textbox" name="mast-instance-input" placeholder="mastodon.social"><button class="mast-share-button">Compartir</button></div>
        <label class="mast-top mast-check-label" for="mast-check-toggle-0">
            <span>Deja tu comentario en </span> <img src="https://raw.githubusercontent.com/grayleonard/mastodon-share/master/logotype-full.svg">
        </label>
    </div>

    <script
     type="text/javascript"
     charset="utf-8"
     src="/js/mastobutton.js">
    </script>

<style>
.mast-check-toggle {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
	display: none
}

.mast-check-toggle:checked+.mast-instance {
	display: block!important
}

.mast-check-toggle:not(:checked)+.mast-instance {
	display: none
}

.mast-share.active {
	padding-bottom: 10px
}

.mast-share-lg .mast-top {
	cursor: pointer;
	position: absolute;
	width: 250px;
	top: 0;
	left: 0;
	padding: 4px 8px;
	z-index: 1
}

.mast-share-md .mast-top,
.mast-share-sm .mast-top {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 15px;
	top: 0;
	left: 0;
	padding: 4px 8px;
	z-index: 1
}

.mast-share-lg,
.mast-share-md,
.mast-share-sm {
	color: #fff;
	display: inline-block;
	height: 30px;
	width: 500px;
	background-color: #292D37;
	border-radius: 8px;
	position: relative
}

.mast-share-lg {
	width: 250px
}

.mast-share-md {
	width: 92px
}

.mast-share-sm {
	width: 34px
}

.mast-share-md .mast-instance,
.mast-share-sm .mast-instance {
	border-radius: 0 3px 3px;
	z-index: 0
}

.mast-instance {
	background-color: #292D37;
	padding: 8px;
	position: absolute;
	top: 20px;
	left: 0;
	margin: 0 auto;
	border-radius: 0 0 3px 3px
}

.mast-share span {
	vertical-align: top;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 14px
}

.mast-share img {
	max-height: 19px;
	margin-top: 1px
}

.mast-instance input[name="mast-instance-input"] {
	background-color: #00000000;
	border: none;
	color: #fff;
	border-bottom: 2px solid #3087D5;
	font-size: 14px;
	font-weight: 700;
	max-width: 130px
}

.mast-instance input[name="mast-instance-input"][class="invalid"] {
	border-bottom: 2px solid red;
	animation-name: shake;
	animation-duration: .1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite
}

@-webkit-keyframes shake {
	41%,
	8% {
		-webkit-transform: translateX(-10px)
	}
	25%,
	58% {
		-webkit-transform: translateX(10px)
	}
	75% {
		-webkit-transform: translateX(-5px)
	}
	92% {
		-webkit-transform: translateX(5px)
	}
	0%,
	100% {
		-webkit-transform: translateX(0)
	}
}

.mast-share input::placeholder {
	color: #C7C7CD
}

.mast-share input:focus {
	outline: 0
}

.mast-share button {
	background-color: #00000000;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: 700;
	padding: 0;
	margin: 8px 0 0;
	cursor: pointer
}

.mast-share button:hover {
	color: #3087d5
}
</style> 



</div>
